*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "微软雅黑";
}
i{
  font-style: normal;
}
header,section,footer{
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #282828;
  display: flex;
  width: 640px;
}
header{
  height: 90px;
  box-sizing: border-box;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #282828;
  background-color: #e4366b;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}
.header-left{
  background: url("../images/jiantou.jpg") no-repeat left center;
  width: 51px;
  height: 90px;
  margin-left: 20px;
  position: absolute;
  left: 0;
}
header h2{
  color: #fff;
  line-height: 90px;
  font-size: 40px;
  font-weight: normal;
}
section.search{
  height: 88px;
  background-color: #52525a;
  justify-content: center;
  align-items: center;
}
section .search-box{
  width: 590px;
  height: 56px;
  background-color: #fff;
  border-radius: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section .search-box span{
  width: 34px;
  height: 38px;
  display: inline-block;
  background: url("../images/search.jpg") no-repeat;
}
section .search-box input{
  width: 490px;
  line-height: 38px;
  border: none;
  outline: none;
  font-size: 24px;
  color: #949496;
}
footer{
  height: 97px;
  background-color: #484850;
  border-bottom: 0;
}
footer .foot-list{
  display: flex;
  width: 128px;
  height: 100%;
  display: flex;
  align-items:center;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
}

footer .foot-list span{
  width: 100%;
  height: 30px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
footer .foot-list i{
  width: 100%;
  height: 60px;
  display: block;
}
footer .foot-list:nth-of-type(1) i{
  background: url("../images/footer1.jpg") no-repeat center;
}
footer .foot-list:nth-of-type(2) i{
  background: url("../images/footer2.jpg") no-repeat center;
}
footer .foot-list:nth-of-type(3) i{
  background: url("../images/footer3.jpg") no-repeat center;
}
footer .foot-list:nth-of-type(4) i{
  background: url("../images/footer4.jpg") no-repeat center;
}
footer .foot-list:nth-of-type(5) i{
  background: url("../images/footer5.jpg") no-repeat center;
}
